*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    @include media-breakpoint-down(sm) {
        min-width: 270px;
        overflow-x: auto;
    }
}
a{
    cursor:pointer;
    &:hover{
        text-decoration: none;
    }
}

ul, li{
    list-style-type: none;
}

// utilities

.link-yellow{
    color: #ff0 !important;
    &:hover{
        color: #333 !important ;
    }
}
